:host {
  .wbc {
    position: relative;
    display: flex;
    border-radius: 8px;
    border: 0.5px solid var(--ion-color-neutral50);
    width: 100%;
    margin-bottom: 8px;
    background-color: var(--ion-color-white);

    &__content {
      background-color: var(--ion-color-info);
      display: flex;
      width: 100%;
      border-radius: 8px;

      &__body {
        margin-left: 16px;
        align-self: center;
        width: 100%;

        &__title {
          color: var(--ion-color-white);
          margin-bottom: 4px;
        }

        &__subtitle {
          color: var(--ion-color-white);
        }
      }
    }

    &__img {
      position: relative;
    }

    &__arrow {
      display: flex;
      width: 100%;
      height: 100%;
      justify-content: flex-end;
      align-items: center;
      color: var(--ion-color-white);
      position: absolute;
      font-size: 23px;

      ion-icon {
        margin-right: 12px;
      }
    }

    &__content_balance {
      position: relative;
      margin-left: 20px;
      width: 100%;

      &__body {
        display: flex;
        width: 100%;

        &__balance {
          color: var(--ion-color-primary);
          margin-left: 20px;
          margin-top: 20px;
        }

        &__description {
          color: var(--ion-color-neutral80);
          margin-bottom: 20px;
        }

        &__eye-button {
          margin-top: 24px;
          margin-left: 10px;
          color: var(--ion-color-primary);
          font-size: 19px;

          ion-icon {
            position: relative;
            z-index: 2;
          }
        }
      }
    }
  }

  .walletArrow {
    color: var(--ion-color-info);
  }

  .eye {
    --wbc-color: var(--ion-color-primary);

    margin-top: 24px;
    margin-left: 10px;
    font-size: 19px;
    position: relative;
    z-index: 2;
  }
}
