:host {
  ion-content {
    --ion-backgroud-color: white;
    --background: white;
  }

  .header {
    &__ux_success_image {
      width: 100%;
      height: 380px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
      background-color: #e1e9fe;

      img {
        height: min-content;
      }
    }
  }

  .main {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: left;
    justify-content: top;
    white-space: pre-wrap;

    &__close_button {
      position: absolute;
      top: 16px;
      left: 16px;
      padding: 0;
      margin: 0;
      width: 24px;
      height: 24px;

      &__icon {
        width: 24px;
        height: 24px;
      }
    }

    &__primary_text {
      margin-top: 16px;
      text-align: left;
    }

    &__secondary_text {
      margin-top: 16px;
      text-align: left;
      color: var(--ion-color-primary);
    }

    &__actions {
      margin-top: 45px;

      &__primary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 12px 16px;
        border: 1px solid #4a75f7;
        border-radius: 8px;
        gap: 16px;
        position: relative;

        &__ribbon {
          background: var(--ion-color-successlight);
          border-radius: 4px;
          position: absolute;
          top: -13px;
          right: 16px;
          padding: 2px 9.5px;
        }

        &__key-icon {
          background-color: var(--ion-color-infolight);
          padding: 6px;
          border-radius: 50%;
          min-width: 18px;
          min-height: 18px;
        }

        &__chevron-forward-icon {
          min-width: 24px;
          min-height: 24px;
        }

        ion-label {
          .subtitle {
            color: var(--ion-color-neutral80);
          }
        }
      }

      &__secondary {
        margin-top: 8px;
        text-align: center;

        ion-button {
          text-decoration: none;
        }
      }
    }
  }
}
