:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .mnp {
    margin: 16px 0 24px;
    padding: 16px;

    &__currency-select {
      form {
        margin-top: -8px;
      }
    }

    &__provider {
      margin-top: 16px;

      &__content {
        margin: 8px 0 0;
        display: flex;
        align-items: center;
        padding: 12px 0;

        &__img {
          display: flex;
          align-items: center;

          img {
            width: 32px;
          }
        }

        &__text {
          display: flex;
          flex-direction: column;
          flex-grow: 1;

          &__name {
            margin-bottom: 4px;
          }
        }

        &__icon {
          ion-icon {
            width: 16px;
            height: 16px;
          }
        }
      }
    }
  }

  ion-footer {
    box-shadow: 0 0 16px rgb(28 45 94 / 20%);

    ion-button {
      display: flex;
      flex-direction: column;
      margin-top: 16px;
    }

    .ux_footer__content ion-text {
      color: var(--ion-color-neutral80);
    }
  }
}
