:host {
  .im {
    &__content {
      &__img {
        width: 230px;
        height: 145px;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-bottom: 20px;
      }

      &__title {
        margin-left: 15px;
        margin-right: 15px;
        text-align: center;
        margin-bottom: 6px;
      }

      &__message {
        margin-left: 32px;
        margin-right: 32px;
        margin-bottom: 10px;
        text-align: center;
      }

      &__buttons {
        border-top: 1px solid #ececec;
        align-items: center;
      }

      &__button__back {
        margin-left: 46px;
        float: left;
        text-align: center;
      }

      &__button__add {
        float: right;
        margin-right: 46px;
        text-align: center;
      }
    }
  }
}
