:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .step-counter {
    margin-right: 13px;
  }

  .description {
    margin-top: 16px;
    margin-bottom: 16px;
  }

  .ux_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 22px;
  }

  .ux-checkbox-container {
    --padding-start: 16px;
    --padding-end: 16px;
    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --min-height: 24px;
    --min-width: 24px;

    &__label {
      color: #212121;
    }
  }

  .ux-documents {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 36px 0 25px;

    &__item {
      display: flex;
      align-items: center;
      padding: 12px 16px;
      border: 0.5px solid #b0b6c7;
      box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
      border-radius: 8px;

      ion-label {
        flex-grow: 1;
        padding-left: 18px;
      }

      ion-icon {
        font-size: 24px;
      }
    }
  }

  .last {
    margin-top: 10px;

    --border-color: transparent;
    --background-hover: transparent;
    --background-activated: transparent;
    --padding-start: 5px;

    color: var(--ion-color-neutral80);
  }

  ion-checkbox {
    --size: 18px;

    color: var(--ion-color-info);
  }

  .ion-text-start {
    padding-left: 60px;
  }
}
