:host {
  justify-content: unset;

  .main {
    position: relative;

    &__close_button {
      display: flex;
      justify-content: flex-end;
      height: 32px;

      ion-button {
        height: inherit;
        margin: 0;
        padding-right: 10px;
        padding-top: 10px;
      }

      &__icon {
        align-items: flex-end;
        color: var(--ion-color-primary);
      }
    }

    &__body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 16px;

      &__content {
        display: flex;
        flex-direction: column;
        text-align: center;

        &__title {
          margin: 16px 8px 10px;
        }

        &__description {
          text-align: left;
          padding: 0 10px;
          color: var(--ion-color-primary) !important;
        }
      }
    }

    &__actions {
      width: 100%;
      padding: 24px 16px 10px;

      ion-button {
        width: inherit;
      }
    }
  }
}
