:host {
  .rc {
    &__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      right: 0;
      box-shadow: 0 1px 11px rgb(0 0 0 / 8%);
      border-radius: 50px;
      background: var(--ion-color-secondary);
      width: 50px;
      height: 50px;
      margin-left: 13px;

      &__icon {
        font-size: 22px;
      }

      .coming_soon {
        width: 100%;
        height: 13.5px;
        background-color: #006eff;
        border-bottom-left-radius: 8px;
        border-bottom-right-radius: 8px;
        position: absolute;
        color: var(--ion-color-white);
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }

    &__text {
      display: flex;
      justify-content: center;
      margin-top: 8px;
      text-align: center;
      line-height: 0.8;
    }
  }
}
