:host {
  .tf {
    &__fee {
      padding-top: 11px;
      padding-bottom: 11px;

      &__label {
        margin-bottom: 4px;
        display: flex;
        align-items: center;

        &__button {
          padding-left: 10px;
        }
      }

      &__qty_and_advice {
        display: block;
        width: 100%;

        &__qty {
          display: flex;
          justify-content: space-between;

          ion-text {
            color: var(--ion-color-neutral90);
          }
        }

        &__funds-advice {
          display: flex;
          width: 100%;
          padding-top: 6px;
          align-items: flex-start;

          img {
            margin-right: 6px;
          }

          ion-text {
            color: var(--ion-color-dangerdark) !important;
          }
        }
      }
    }
  }

  .skeleton {
    margin-top: 11px;

    ion-skeleton-text {
      height: 18px;
      border-radius: 8px;
    }
  }

  .negative {
    color: var(--ion-color-dangerdark) !important;
  }

  ion-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }

  .loading-text {
    display: flex;
    justify-content: center;
    margin-top: 25px;
    color: var(--ion-color-neutral80);
  }
}
