:host {
  .bcc {
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
    cursor: pointer;
    background: var(--ion-color-info);
    border-radius: 8px;
    border: 1px solid var(--ion-color-neutral50);
    display: flex;
    align-items: center;
    justify-content: space-between;

    &__image {
      img {
        margin-bottom: -3px;
      }

      padding-left: 8px;
    }

    &__text {
      padding-left: 8px;

      ion-text {
        color: var(--ion-color-white);
      }
    }

    &__arrow {
      padding-right: 16px;
    }
  }
}
