:host {
  .pnoc {
    margin: 0 0 16px;
    padding: 16px;

    &__currency-select {
      form {
        margin-top: -8px;
      }
    }

    &__amount-select {
      margin-top: 24px;

      &__qty-label {
        margin-bottom: 8px;
      }

      &__labels {
        display: flex;
        margin-bottom: 4px;

        &__base {
          flex-basis: 55%;
        }

        &__quote {
          flex-basis: 45%;
        }
      }

      &__inputs {
        display: flex;
        align-items: center;
        margin-bottom: 4px;

        ion-input {
          border-radius: 4px;
          border: 1px solid var(--ion-color-neutral80);
          background-color: var(--ion-color-neutral10);
          color: var(--ion-color-neutral90);

          --padding-start: 16px;
        }

        ion-input.has-focus {
          border: 1.5px solid var(--ion-color-primary);

          --placeholder-color: var(--ion-color-neutral90);
          --placeholder-opacity: 0;
        }

        &__amount {
          flex-basis: 45%;
        }

        &__equal {
          flex-basis: 10%;
          text-align: center;
          font-family: var(--ux-font-worksans);
          font-size: var(--ux-fsize-14);
          color: var(--ion-color-primary);
        }

        &__quoteAmount {
          flex-basis: 45%;
        }
      }

      &__usd-disclaimer {
        color: var(--ion-color-neutral80);
      }
    }

    &__provider {
      margin-top: 24px;

      &__label {
        margin-bottom: 8px;
      }

      &__content {
        display: flex;

        &__img {
          display: flex;
          margin-right: 16px;
        }

        &__provider-name {
          ion-text {
            color: var(--ion-color-primary);
          }
        }

        &__icon {
          ion-icon {
            width: 32px;
            height: 32px;
          }
        }
      }

      &__description {
        margin-top: 8px;

        ion-text {
          color: var(--ion-color-neutral80);
        }
      }
    }
  }
}
