:host {
  .tsc {
    background: var(--ion-color-white);

    --ion-background-color: var(--ion-color-white);

    border-radius: 8px;

    &__title {
      margin-bottom: 20px;
    }

    &__name-and-icon {
      display: flex;
      justify-content: space-between;
      align-items: center;

      &__icon {
        display: flex;
        justify-content: center;
        align-items: center;
        max-width: 33px;
      }

      &__name {
        display: flex;
        flex-direction: column;
      }
    }

    &__amount {
      margin-top: 16px;

      &__title {
        display: flex;
        align-items: center;
      }

      &__content {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }

    &__address {
      border-top: 1px var(--ion-color-neutral10) solid;
      border-bottom: 1px var(--ion-color-neutral10) solid;
      padding: 12px 0;
      margin: 12px 0;

      &__content {
        margin-top: 4px;
      }
    }

    &__fee {
      &__fee {
        margin-top: 4px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 28px;
      }

      &__title {
        display: flex;
        align-items: center;
      }
    }
  }

  ion-icon {
    width: 16px;
    height: 16px;
    margin-left: 6px;
  }
}
