:host {
  .text1 {
    text-align: center;
  }

  .ux_toolbar {
    border-radius: 0 0 8px 8px;

    .step-counter {
      margin-right: 13px;
    }
  }

  .ux_footer {
    ion-button {
      width: 100%;
    }
  }

  .recovery-phrase-wrapper {
    border: 1px solid var(--ion-color-neutral50);
    border-radius: 8px;
    margin-top: 60px;
  }

  .swiper {
    margin-top: 50px;
  }

  .input-phrase {
    &__card {
      height: 105px;
      margin-bottom: 0;
      margin-top: 10px;
      border: 2px solid var(--ion-color-neutral80);
      border-radius: 8px;

      &__input {
        text-align: center;
        margin: 16px 20px 8.5px;
        border-bottom: 2px solid var(--ion-color-neutral80);

        &__hidden {
          height: 48px;
        }

        ion-icon {
          color: var(--ion-color-white);
        }
      }

      &__label {
        display: flex;
        justify-content: center;
      }
    }
  }

  .description {
    margin-top: 16px;
  }

  .text-card {
    margin-top: 40px;
  }

  .active {
    --color: white;
    --background: var(--ion-color-primary);
    --background-activated: var(--ion-color-primary);
    --border-radius: 14px;

    height: 40px;
  }
}
