:host {
  .dp {
    --background: var(--ion-color-neutral10);

    &__card-container {
      margin-bottom: 16px;
    }

    &__disclaimer {
      padding: 0 16px;

      &__text {
        color: var(--ion-color-neutral80);
      }

      &__support {
        color: var(--ion-color-neutral80);
        margin-top: 16px;

        ion-button {
          height: 16.42px;
        }
      }
    }

    &__upload-voucher {
      margin-top: 16px;
    }
  }
}
