:host {
  .main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__close-button {
      position: absolute;
      top: 16px;
      right: 40px;
      padding: 0;
      margin: 0;
      width: 24px;
      height: 24px;

      &__icon {
        width: 24px;
        height: 24px;
      }
    }

    &__ux-success-image {
      max-width: 100%;
      margin: 0;
    }

    &__primary-text {
      margin-top: 16px;
      text-align: center;
    }

    &__secondary-text {
      margin-top: 16px;
      text-align: center;

      ion-text {
        color: var(--ion-color-primary);
      }

      .text {
        font-size: var(--ux-fsize-14);
      }
    }

    &__third_text {
      text-align: center;
    }

    &__actions {
      padding-left: 13px;
      padding-right: 13px;
      width: 100%;
      margin-top: 24px;
      text-align: center;

      ion-button {
        width: 100%;
      }

      &__secondary {
        margin-top: 8px;

        ion-button {
          margin-top: 0;
          text-align: center;
        }
      }
    }

    &__disclaimer {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0 16px;
      margin-top: 24px;
      text-align: center;

      ion-text {
        color: var(--ion-color-neutral80);
      }
    }
  }
}
