:host {
  ion-toolbar {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
  }

  .step-counter {
    margin-right: 13px;
  }

  .ss {
    --background: var(--ion-color-neutral10);

    &__transaction-summary-card {
      margin-top: 0;
    }

    &__send_button {
      margin-top: 24px;
      display: flex;
      flex-direction: column;
    }
  }
}
