:host {
  .ic {
    &__img {
      margin-right: 16px;
      padding-left: 16px;
      height: 33px;
      width: 47px;
    }

    &__item {
      --inner-padding-start: 0;
      --inner-padding-end: 0;
      --inner-padding-top: 0;
      --inner-padding-bottom: 0;
      --background: transparent;

      background-color: transparent;
      height: 54px;
    }

    &__toggle {
      --background-checked: var(--ion-color-info);
      --background: var(--ion-color-neutral50);

      padding-top: 13px;
      padding-bottom: 13px;
      padding-right: 16px;
      height: 22px;
      width: 42px;

      --handle-width: 17.66px;
      --handle-height: 17.66px;
    }

    &__badge {
      margin-top: 2px;
      padding: 2px 4px;
      color: var(--ion-color-infodark);
      font-family: var(--ux-font-worksans);
      font-size: var(--ux-fsize-12);
      line-height: 14px;
      font-weight: var(--ux-fweight-semibold);
      border-radius: 4px;
    }
  }

  .last {
    padding-bottom: 6px;
  }
}
