:host {
  .main {
    padding-top: 8px;
    height: 100%;

    .button {
      margin-top: 16px;
      display: flex;
      flex-direction: column;
    }
  }

  .container {
    height: 100%;
    width: 100%;
  }
}
