// Alert confirm with two buttons 'text button'
.ux-alert-confirm {
  .alert-wrapper {
    .alert-head {
      h2 {
        font-family: var(--ux-font-worksans);
        color: var(--ion-color-primary);
        font-weight: var(--ux-fweight-semibold);
        font-size: var(--ux-fsize-22);
      }
    }

    .alert-message {
      font-family: var(--ux-font-lato);
      font-size: var(--ux-fsize-16);
      font-weight: var(--ux-fweight-regular);
      color: var(--ion-color-neutral90);
    }

    .alert-button-group {
      .alert-button {
        border: none;
      }

      .primary-button,
      .secondary-button {
        font-family: var(--ux-font-worksans);
        font-size: var(--ux-fsize-16);
        font-weight: var(--ux-fweight-semibold);
      }

      .primary-button {
        color: var(--ion-color-info);
      }

      .secondary-button {
        color: var(--ion-color-neutral90);
      }
    }
  }
}

.ux-alert-small-text {
  --ion-font-family: var(--ux-font-lato);
  --ion-text-color: var(--ion-color-neutral90);

  .alert-head {
    padding-bottom: 16px;
  }

  .alert-title {
    font-weight: var(--ux-fweight-bold);
    font-size: var(--ux-fsize-15);
  }

  .alert-message {
    font-size: var(--ux-fsize-14);
    font-weight: var(--ux-fweight-regular);
    padding-bottom: 8px;
  }

  .alert-button {
    font-size: var(--ux-fsize-14);
  }
}

// Alerta error wallet
.ux-wallet-error-alert {
  --max-height: 145px;
  --max-width: 302px;
  --ion-font-family: var(--ux-font-lato);
  --ion-text-color: var(--ion-color-neutral90);

  .alert-head {
    padding-bottom: 12px;
  }

  .alert-title {
    font-weight: var(--ux-fweight-bold);
    font-size: var(--ux-fsize-18);
  }

  .alert-message {
    font-size: var(--ux-fsize-14);
    font-weight: var(--ux-fweight-regular);
    padding-bottom: 12px;
  }

  .alert-button {
    font-weight: var(--ux-fweight-bold);
    font-size: var(--ux-fsize-18);
  }
}
