// Datetime Picker
.picker-wrapper {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.picker-toolbar-cancel > button,
.picker-toolbar-button > button {
  font-family: var(--ux-font-worksans);
  font-size: var(--ux-fsize-16);
  color: var(--ion-color-info);
  font-weight: var(--ux-fweight-bold);
}

ion-picker {
  touch-action: none;
}

.picker-opt {
  font-family: var(--ux-font-lato);
  font-size: var(--ux-fsize-16);
  font-weight: var(--ux-fweight-regular);
  color: var(--ion-color-neutral80);
}
