// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/

:root {
  /**  primary hover **/
  --ion-color-primary-hover: #38499f;
  --ion-color-primary-hover-rgb: 56, 73, 159;
  --ion-color-primary-hover-contrast: #fff;
  --ion-color-primary-hover-contrast-rgb: 255, 255, 255;
  --ion-color-primary-hover-shade: #31408c;
  --ion-color-primary-hover-tint: #4c5ba9;

  /** ux secondary hover **/
  --ion-color-secondary-hover: #b2c610;
  --ion-color-secondary-hover-rgb: 178, 198, 16;
  --ion-color-secondary-hover-contrast: #000;
  --ion-color-secondary-hover-contrast-rgb: 0, 0, 0;
  --ion-color-secondary-hover-shade: #9dae0e;
  --ion-color-secondary-hover-tint: #bacc28;

  /** ux tertiary hover **/
  --ion-color-tertiary-hover: #ff336d;
  --ion-color-tertiary-hover-rgb: 255, 51, 109;
  --ion-color-tertiary-hover-contrast: #fff;
  --ion-color-tertiary-hover-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-hover-shade: #e02d60;
  --ion-color-tertiary-hover-tint: #ff477c;

  /** primary **/
  --ion-color-primary: #1c2d5e;
  --ion-color-primary-rgb: 28, 45, 94;
  --ion-color-primary-contrast: #fff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-matiz: #192853;
  --ion-color-primary-tint: #33426e;

  /** ux secondary **/
  --ion-color-secondary: #d7eb36;
  --ion-color-secondary-rgb: 215, 235, 54;
  --ion-color-secondary-contrast: #1c2d5e;
  --ion-color-secondary-contrast-rgb: 255, 87, 51;
  --ion-color-secondary-matiz: #bdcf30;
  --ion-color-secondary-tint: #dbed4a;

  /** ux tertiary **/
  --ion-color-tertiary: #ff5c8a;
  --ion-color-tertiary-rgb: 255, 92, 138;
  --ion-color-tertiary-contrast: #000;
  --ion-color-tertiary-contrast-rgb: 0, 0, 0;
  --ion-color-tertiary-shade: #e05179;
  --ion-color-tertiary-tint: #ff6c96;

  /** ux danger **/
  --ion-color-uxdanger: #ef170e;
  --ion-color-uxdanger-rgb: 239, 23, 14;
  --ion-color-uxdanger-contrast: #fff;
  --ion-color-uxdanger-contrast-rgb: 255, 255, 255;
  --ion-color-uxdanger-shade: #d2140c;
  --ion-color-uxdanger-tint: #f12e26;

  /** ux success **/
  --ion-color-uxsuccess: #21dd62;
  --ion-color-uxsuccess-rgb: 33, 221, 98;
  --ion-color-uxsuccess-contrast: #000;
  --ion-color-uxsuccess-contrast-rgb: 0, 0, 0;
  --ion-color-uxsuccess-shade: #1dc256;
  --ion-color-uxsuccess-tint: #37e072;

  /** neutral50 **/
  --ion-color-neutral50: #b0b6c7;
  --ion-color-neutral50-rgb: 176, 182, 199;
  --ion-color-neutral50-contrast: #000;
  --ion-color-neutral50-contrast-rgb: 0, 0, 0;
  --ion-color-neutral50-shade: #9ba0af;
  --ion-color-neutral50-tint: #b8bdcd;

  /** neutral80 **/
  --ion-color-neutral80: #606c8e;
  --ion-color-neutral80-rgb: 96, 108, 142;
  --ion-color-neutral80-contrast: #fff;
  --ion-color-neutral80-contrast-rgb: 255, 255, 255;
  --ion-color-neutral80-shade: #545f7d;
  --ion-color-neutral80-tint: #707b99;

  /** neutral90 **/
  --ion-color-neutral90: #263238;
  --ion-color-neutral90-rgb: 38, 50, 56;
  --ion-color-neutral90-contrast: #fff;
  --ion-color-neutral90-contrast-rgb: 255, 255, 255;
  --ion-color-neutral90-shade: #212c31;
  --ion-color-neutral90-tint: #3c474c;

  /** white **/
  --ion-color-white: #fff;
  --ion-color-white-rgb: 255, 255, 255;
  --ion-color-white-contrast: #000;
  --ion-color-white-contrast-rgb: 0, 0, 0;
  --ion-color-white-shade: #e0e0e0;
  --ion-color-white-tint: #fff;

  /** ux combination green-white **/
  --ion-color-uxcombination: #65b168;
  --ion-color-uxcombination-rgb: 33, 221, 98;
  --ion-color-uxcombination-contrast: #fff;
  --ion-color-uxcombination-contrast-rgb: 0, 0, 0;
  --ion-color-uxcombination-shade: #65b168;
  --ion-color-uxcombination-tint: #65b168;

  /** alerts color **/

  /** warninglight **/
  --ion-color-warninglight: #feecaa;
  --ion-color-warninglight-rgb: 254, 236, 170;
  --ion-color-warninglight-contrast: #000;
  --ion-color-warninglight-contrast-rgb: 0, 0, 0;
  --ion-color-warninglight-shade: #e0d096;
  --ion-color-warninglight-tint: #feeeb3;

  /** warning **/
  --ion-color-warning: #fccf2b;
  --ion-color-warning-rgb: 252, 207, 43;
  --ion-color-warning-contrast: #000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #deb626;
  --ion-color-warning-tint: #fcd440;

  /** warning warningdark **/
  --ion-color-warningdark: #654f01;
  --ion-color-warningdark-rgb: 101, 79, 1;
  --ion-color-warningdark-contrast: #fff;
  --ion-color-warningdark-contrast-rgb: 255, 255, 255;
  --ion-color-warningdark-shade: #594601;
  --ion-color-warningdark-tint: #74611a;

  /** successlight **/
  --ion-color-successlight: #dcefe4;
  --ion-color-successlight-rgb: 220, 239, 228;
  --ion-color-successlight-contrast: #000;
  --ion-color-successlight-contrast-rgb: 0, 0, 0;
  --ion-color-successlight-shade: #c2d2c9;
  --ion-color-successlight-tint: #e0f1e7;

  /** success **/
  --ion-color-success: #27ae60;
  --ion-color-success-rgb: 39, 174, 96;
  --ion-color-success-contrast: #fff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #229954;
  --ion-color-success-tint: #3db670;

  /** successdark **/
  --ion-color-successdark: #13532e;
  --ion-color-successdark-rgb: 19, 83, 46;
  --ion-color-successdark-contrast: #fff;
  --ion-color-successdark-contrast-rgb: 255, 255, 255;
  --ion-color-successdark-shade: #114928;
  --ion-color-successdark-tint: #2b6443;

  /** dangerlight **/
  --ion-color-dangerlight: #f9e7e7;
  --ion-color-dangerlight-rgb: 249, 231, 231;
  --ion-color-dangerlight-contrast: #000;
  --ion-color-dangerlight-contrast-rgb: 0, 0, 0;
  --ion-color-dangerlight-shade: #dbcbcb;
  --ion-color-dangerlight-tint: #fae9e9;

  /** danger **/
  --ion-color-danger: #cf4646;
  --ion-color-danger-rgb: 207, 70, 70;
  --ion-color-danger-contrast: #fff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #b63e3e;
  --ion-color-danger-tint: #d45959;

  /** dangerdark **/
  --ion-color-dangerdark: #9d0606;
  --ion-color-dangerdark-rgb: 157, 6, 6;
  --ion-color-dangerdark-contrast: #fff;
  --ion-color-dangerdark-contrast-rgb: 255, 255, 255;
  --ion-color-dangerdark-shade: #8a0505;
  --ion-color-dangerdark-tint: #a71f1f;

  /** info **/
  --ion-color-info: #4a75f7;
  --ion-color-info-rgb: 74, 117, 247;
  --ion-color-info-contrast: #fff;
  --ion-color-info-contrast-rgb: 255, 255, 255;
  --ion-color-info-shade: #4167d9;
  --ion-color-info-tint: #5c83f8;

  /** infolight **/
  --ion-color-infolight: #e1e9fe;
  --ion-color-infolight-rgb: 225, 233, 254;
  --ion-color-infolight-contrast: #000;
  --ion-color-infolight-contrast-rgb: 0, 0, 0;
  --ion-color-infolight-shade: #c6cde0;
  --ion-color-infolight-tint: #e4ebfe;

  /** infodark **/
  --ion-color-infodark: #001966;
  --ion-color-infodark-rgb: 0, 25, 102;
  --ion-color-infodark-contrast: #fff;
  --ion-color-infodark-contrast-rgb: 255, 255, 255;
  --ion-color-infodark-shade: #00165a;
  --ion-color-infodark-tint: #1a3075;

  /** alt-1 dark **/
  --ion-color-alt-1-dark: #8f3700;
  --ion-color-alt-1-dark-rgb: 143, 55, 0;
  --ion-color-alt-1-dark-contrast: #fff;
  --ion-color-alt-1-dark-contrast-rgb: 255, 255, 255;
  --ion-color-alt-1-dark-shade: #7e3000;
  --ion-color-alt-1-dark-tint: #9a4b1a;

  /** alt-1 light **/
  --ion-color-alt-1-light: #ffcdad;
  --ion-color-alt-1-light-rgb: 255, 205, 173;
  --ion-color-alt-1-light-contrast: #8f3700;
  --ion-color-alt-1-light-contrast-rgb: 143, 55, 0;
  --ion-color-alt-1-light-shade: #e0b498;
  --ion-color-alt-1-light-tint: #ffcdad;

  /** alt-2 dark **/
  --ion-color-alt-2-dark: #005f8f;
  --ion-color-alt-2-dark-rgb: 0, 95, 143;
  --ion-color-alt-2-dark-contrast: #fff;
  --ion-color-alt-2-dark-contrast-rgb: 255, 255, 255;
  --ion-color-alt-2-dark-shade: #00547e;
  --ion-color-alt-2-dark-tint: #1a6f9a;

  /** alt-2 light **/
  --ion-color-alt-2-light: #d6f1ff;
  --ion-color-alt-2-light-rgb: 214, 241, 255;
  --ion-color-alt-2-light-contrast: #005f8f;
  --ion-color-alt-2-light-contrast-rgb: 0, 95, 143;
  --ion-color-alt-2-light-shade: #bcd4e0;
  --ion-color-alt-2-light-tint: #daf2ff;

  /** alt-3 dark **/
  --ion-color-alt-3-dark: #4c00b8;
  --ion-color-alt-3-dark-rgb: 76, 0, 184;
  --ion-color-alt-3-dark-contrast: #fff;
  --ion-color-alt-3-dark-contrast-rgb: 255, 255, 255;
  --ion-color-alt-3-dark-shade: #4300a2;
  --ion-color-alt-3-dark-tint: #5e1abf;

  /** alt-3 light **/
  --ion-color-alt-3-light: #e7d6ff;
  --ion-color-alt-3-light-rgb: 231, 214, 255;
  --ion-color-alt-3-light-contrast: #4c00b8;
  --ion-color-alt-3-light-contrast-rgb: 76, 0, 184;
  --ion-color-alt-3-light-shade: #cbbce0;
  --ion-color-alt-3-light-tint: #e9daff;

  /** alt-4 dark **/
  --ion-color-alt-4-dark: #b80037;
  --ion-color-alt-4-dark-rgb: 184, 0, 55;
  --ion-color-alt-4-dark-contrast: #fff;
  --ion-color-alt-4-dark-contrast-rgb: 255, 255, 255;
  --ion-color-alt-4-dark-shade: #a20030;
  --ion-color-alt-4-dark-tint: #bf1a4b;

  /** alt-4 light **/
  --ion-color-alt-4-light: #ffd6e2;
  --ion-color-alt-4-light-rgb: 255, 214, 226;
  --ion-color-alt-4-light-contrast: #b80037;
  --ion-color-alt-4-light-contrast-rgb: 184, 0, 55;
  --ion-color-alt-4-light-shade: #e0bcc7;
  --ion-color-alt-4-light-tint: #ffdae5;

  /** Fondos **/

  /** Neutral10 **/
  --ion-color-neutral10: #f5f5f5;
  --ion-color-neutral10-rgb: 245, 245, 245;
  --ion-color-neutral10-contrast: #000;
  --ion-color-neutral10-contrast-rgb: 0, 0, 0;
  --ion-color-neutral10-shade: #d8d8d8;
  --ion-color-neutral10-tint: #f6f6f6;

  /** Fuentes **/
  --ux-font-worksans: 'Work Sans';
  --ux-font-gilroy: 'Gilroy';
  --ux-font-lato: 'Lato';

  /** Weight **/
  --ux-fweight-regular: 400;
  --ux-fweight-semibold: 600;
  --ux-fweight-bold: 700;
  --ux-fweight-extrabold: 800;

  /** Size **/
  --ux-fsize-8: 8px;
  --ux-fsize-10: 10px;
  --ux-fsize-11: 11px;
  --ux-fsize-12: 12px;
  --ux-fsize-14: 14px;
  --ux-fsize-15: 15px;
  --ux-fsize-16: 16px;
  --ux-fsize-17: 17px;
  --ux-fsize-18: 18px;
  --ux-fsize-20: 20px;
  --ux-fsize-22: 22px;
  --ux-fsize-24: 24px;
  --ux-fsize-40: 40px;
  --ion-font-family: var(--ux-font-lato);
  --ion-text-color: var(--ion-color-neutral90);
}

.ion-color-primary-hover {
  --ion-color-base: var(--ion-color-primary-hover);
  --ion-color-base-rgb: var(--ion-color-primary-hover-rgb);
  --ion-color-contrast: var(--ion-color-primary-hover-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-hover-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-hover-shade);
  --ion-color-tint: var(--ion-color-primary-hover-tint);
}

.ion-color-secondary-hover {
  --ion-color-base: var(--ion-color-secondary-hover);
  --ion-color-base-rgb: var(--ion-color-secondary-hover-rgb);
  --ion-color-contrast: var(--ion-color-secondary-hover-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-hover-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-hover-shade);
  --ion-color-tint: var(--ion-color-secondary-hover-tint);
}

.ion-color-tertiary-hover {
  --ion-color-base: var(--ion-color-tertiary-hover);
  --ion-color-base-rgb: var(--ion-color-tertiary-hover-rgb);
  --ion-color-contrast: var(--ion-color-tertiary-hover-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tertiary-hover-contrast-rgb);
  --ion-color-shade: var(--ion-color-tertiary-hover-shade);
  --ion-color-tint: var(--ion-color-tertiary-hover-tint);
}

.ion-color-primary {
  --ion-color-base: var(--ion-color-primary);
  --ion-color-base-rgb: var(--ion-color-primary-rgb);
  --ion-color-contrast: var(--ion-color-primary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-primary-contrast-rgb);
  --ion-color-shade: var(--ion-color-primary-shade);
  --ion-color-tint: var(--ion-color-primary-tint);
}

.ion-color-secondary {
  --ion-color-base: var(--ion-color-secondary);
  --ion-color-base-rgb: var(--ion-color-secondary-rgb);
  --ion-color-contrast: var(--ion-color-secondary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-secondary-contrast-rgb);
  --ion-color-shade: var(--ion-color-secondary-shade);
  --ion-color-tint: var(--ion-color-secondary-tint);
}

.ion-color-tertiary {
  --ion-color-base: var(--ion-color-tertiary);
  --ion-color-base-rgb: var(--ion-color-tertiary-rgb);
  --ion-color-contrast: var(--ion-color-tertiary-contrast);
  --ion-color-contrast-rgb: var(--ion-color-tertiary-contrast-rgb);
  --ion-color-shade: var(--ion-color-tertiary-shade);
  --ion-color-tint: var(--ion-color-tertiary-tint);
}

.ion-color-uxdanger {
  --ion-color-base: var(--ion-color-uxdanger);
  --ion-color-base-rgb: var(--ion-color-uxdanger-rgb);
  --ion-color-contrast: var(--ion-color-uxdanger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxdanger-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxdanger-shade);
  --ion-color-tint: var(--ion-color-uxdanger-tint);
}

.ion-color-uxsuccess {
  --ion-color-base: var(--ion-color-uxsuccess);
  --ion-color-base-rgb: var(--ion-color-uxsuccess-rgb);
  --ion-color-contrast: var(--ion-color-uxsuccess-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxsuccess-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxsuccess-shade);
  --ion-color-tint: var(--ion-color-uxsuccess-tint);
}

.ion-color-uxcombination {
  --ion-color-base: var(--ion-color-uxcombination);
  --ion-color-base-rgb: var(--ion-color-uxcombination);
  --ion-color-contrast: var(--ion-color-uxcombination-contrast);
  --ion-color-contrast-rgb: var(--ion-color-uxcombination-contrast-rgb);
  --ion-color-shade: var(--ion-color-uxcombination-shade);
  --ion-color-tint: var(--ion-color-uxcombination-tint);
}

.ion-color-neutral50 {
  --ion-color-base: var(--ion-color-neutral50);
  --ion-color-base-rgb: var(--ion-color-neutral50-rgb);
  --ion-color-contrast: var(--ion-color-neutral50-contrast);
  --ion-color-contrast-rgb: var(--ion-color-neutral50-contrast-rgb);
  --ion-color-shade: var(--ion-color-neutral50-shade);
  --ion-color-tint: var(--ion-color-neutral50-tint);
}

.ion-color-neutral80 {
  --ion-color-base: var(--ion-color-neutral80);
  --ion-color-base-rgb: var(--ion-color-neutral80-rgb);
  --ion-color-contrast: var(--ion-color-neutral80-contrast);
  --ion-color-contrast-rgb: var(--ion-color-neutral80-contrast-rgb);
  --ion-color-shade: var(--ion-color-neutral80-shade);
  --ion-color-tint: var(--ion-color-neutral80-tint);
}

.ion-color-neutral90 {
  --ion-color-base: var(--ion-color-neutral90);
  --ion-color-base-rgb: var(--ion-color-neutral90-rgb);
  --ion-color-contrast: var(--ion-color-neutral90-contrast);
  --ion-color-contrast-rgb: var(--ion-color-neutral90-contrast-rgb);
  --ion-color-shade: var(--ion-color-neutral90-shade);
  --ion-color-tint: var(--ion-color-neutral90-tint);
}

.ion-color-white {
  --ion-color-base: var(--ion-color-white);
  --ion-color-base-rgb: var(--ion-color-white-rgb);
  --ion-color-contrast: var(--ion-color-white-contrast);
  --ion-color-contrast-rgb: var(--ion-color-white-contrast-rgb);
  --ion-color-shade: var(--ion-color-white-shade);
  --ion-color-tint: var(--ion-color-white-tint);
}

.ion-color-info {
  --ion-color-base: var(--ion-color-info);
  --ion-color-base-rgb: var(--ion-color-info-rgb);
  --ion-color-contrast: var(--ion-color-info-contrast);
  --ion-color-contrast-rgb: var(--ion-color-info-contrast-rgb);
  --ion-color-shade: var(--ion-color-info-shade);
  --ion-color-tint: var(--ion-color-info-tint);
}

.ion-color-infolight {
  --ion-color-base: var(--ion-color-infolight);
  --ion-color-base-rgb: var(--ion-color-infolight-rgb);
  --ion-color-contrast: var(--ion-color-infolight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-infolight-contrast-rgb);
  --ion-color-shade: var(--ion-color-infolight-shade);
  --ion-color-tint: var(--ion-color-infolight-tint);
}

.ion-color-infodark {
  --ion-color-base: var(--ion-color-infodark);
  --ion-color-base-rgb: var(--ion-color-infodark-rgb);
  --ion-color-contrast: var(--ion-color-infodark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-infodark-contrast-rgb);
  --ion-color-shade: var(--ion-color-infodark-shade);
  --ion-color-tint: var(--ion-color-infodark-tint);
}

.ion-color-warninglight {
  --ion-color-base: var(--ion-color-warninglight);
  --ion-color-base-rgb: var(--ion-color-warninglight-rgb);
  --ion-color-contrast: var(--ion-color-warninglight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warninglight-contrast-rgb);
  --ion-color-shade: var(--ion-color-warninglight-shade);
  --ion-color-tint: var(--ion-color-warninglight-tint);
}

.ion-color-warning {
  --ion-color-base: var(--ion-color-warning);
  --ion-color-base-rgb: var(--ion-color-warning-rgb);
  --ion-color-contrast: var(--ion-color-warning-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warning-contrast-rgb);
  --ion-color-shade: var(--ion-color-warning-shade);
  --ion-color-tint: var(--ion-color-warning-tint);
}

.ion-color-warningdark {
  --ion-color-base: var(--ion-color-warningdark);
  --ion-color-base-rgb: var(--ion-color-warningdark-rgb);
  --ion-color-contrast: var(--ion-color-warningdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-warningdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-warningdark-shade);
  --ion-color-tint: var(--ion-color-warningdark-tint);
}

.ion-color-successlight {
  --ion-color-base: var(--ion-color-successlight);
  --ion-color-base-rgb: var(--ion-color-successlight-rgb);
  --ion-color-contrast: var(--ion-color-successlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-successlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-successlight-shade);
  --ion-color-tint: var(--ion-color-successlight-tint);
}

.ion-color-success {
  --ion-color-base: var(--ion-color-success);
  --ion-color-base-rgb: var(--ion-color-success-rgb);
  --ion-color-contrast: var(--ion-color-success-contrast);
  --ion-color-contrast-rgb: var(--ion-color-success-contrast-rgb);
  --ion-color-shade: var(--ion-color-success-shade);
  --ion-color-tint: var(--ion-color-success-tint);
}

.ion-color-successdark {
  --ion-color-base: var(--ion-color-successdark);
  --ion-color-base-rgb: var(--ion-color-successdark-rgb);
  --ion-color-contrast: var(--ion-color-successdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-successdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-successdark-shade);
  --ion-color-tint: var(--ion-color-successdark-tint);
}

.ion-color-dangerlight {
  --ion-color-base: var(--ion-color-dangerlight);
  --ion-color-base-rgb: var(--ion-color-dangerlight-rgb);
  --ion-color-contrast: var(--ion-color-dangerlight-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dangerlight-contrast-rgb);
  --ion-color-shade: var(--ion-color-dangerlight-shade);
  --ion-color-tint: var(--ion-color-dangerlight-tint);
}

.ion-color-danger {
  --ion-color-base: var(--ion-color-danger);
  --ion-color-base-rgb: var(--ion-color-danger-rgb);
  --ion-color-contrast: var(--ion-color-danger-contrast);
  --ion-color-contrast-rgb: var(--ion-color-danger-contrast-rgb);
  --ion-color-shade: var(--ion-color-danger-shade);
  --ion-color-tint: var(--ion-color-danger-tint);
}

.ion-color-dangerdark {
  --ion-color-base: var(--ion-color-dangerdark);
  --ion-color-base-rgb: var(--ion-color-dangerdark-rgb);
  --ion-color-contrast: var(--ion-color-dangerdark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-dangerdark-contrast-rgb);
  --ion-color-shade: var(--ion-color-dangerdark-shade);
  --ion-color-tint: var(--ion-color-dangerdark-tint);
}

.ion-color-alt-1-dark {
  --ion-color-base: var(--ion-color-alt-1-dark);
  --ion-color-base-rgb: var(--ion-color-alt-1-dark-rgb);
  --ion-color-contrast: var(--ion-color-alt-1-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-1-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-1-dark-shade);
  --ion-color-tint: var(--ion-color-alt-1-dark-tint);
}

.ion-color-alt-1-light {
  --ion-color-base: var(--ion-color-alt-1-light);
  --ion-color-base-rgb: var(--ion-color-alt-1-light-rgb);
  --ion-color-contrast: var(--ion-color-alt-1-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-1-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-1-light-shade);
  --ion-color-tint: var(--ion-color-alt-1-light-tint);
}

.ion-color-alt-2-dark {
  --ion-color-base: var(--ion-color-alt-2-dark);
  --ion-color-base-rgb: var(--ion-color-alt-2-dark-rgb);
  --ion-color-contrast: var(--ion-color-alt-2-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-2-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-2-dark-shade);
  --ion-color-tint: var(--ion-color-alt-2-dark-tint);
}

.ion-color-alt-2-light {
  --ion-color-base: var(--ion-color-alt-2-light);
  --ion-color-base-rgb: var(--ion-color-alt-2-light-rgb);
  --ion-color-contrast: var(--ion-color-alt-2-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-2-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-2-light-shade);
  --ion-color-tint: var(--ion-color-alt-2-light-tint);
}

.ion-color-alt-3-dark {
  --ion-color-base: var(--ion-color-alt-3-dark);
  --ion-color-base-rgb: var(--ion-color-alt-3-dark-rgb);
  --ion-color-contrast: var(--ion-color-alt-3-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-3-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-3-dark-shade);
  --ion-color-tint: var(--ion-color-alt-3-dark-tint);
}

.ion-color-alt-3-light {
  --ion-color-base: var(--ion-color-alt-3-light);
  --ion-color-base-rgb: var(--ion-color-alt-3-light-rgb);
  --ion-color-contrast: var(--ion-color-alt-3-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-3-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-3-light-shade);
  --ion-color-tint: var(--ion-color-alt-3-light-tint);
}

.ion-color-alt-4-dark {
  --ion-color-base: var(--ion-color-alt-4-dark);
  --ion-color-base-rgb: var(--ion-color-alt-4-dark-rgb);
  --ion-color-contrast: var(--ion-color-alt-4-dark-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-4-dark-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-4-dark-shade);
  --ion-color-tint: var(--ion-color-alt-4-dark-tint);
}

.ion-color-alt-4-light {
  --ion-color-base: var(--ion-color-alt-4-light);
  --ion-color-base-rgb: var(--ion-color-alt-4-light-rgb);
  --ion-color-contrast: var(--ion-color-alt-4-light-contrast);
  --ion-color-contrast-rgb: var(--ion-color-alt-4-light-contrast-rgb);
  --ion-color-shade: var(--ion-color-alt-4-light-shade);
  --ion-color-tint: var(--ion-color-alt-4-light-tint);
}

// Fonts
// 100    Extra Light or Ultra Light
// 200    Light or Thin
// 300    Book or Demi
// 400    Normal or Regular
// 500    Medium
// 600    Semibold, Demibold
// 700    Bold
// 800    Black, Extra Bold or Heavy
// 900    Extra Black, Fat, Poster or Ultra Black
@font-face {
  font-family: var(--ux-font-gilroy);
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Gilroy/Gilroy-Light.otf');
}

@font-face {
  font-family: var(--ux-font-gilroy);
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/Gilroy/Gilroy-ExtraBold.otf');
}

// Lato
@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/Lato/Lato-Semibold.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/Lato/Lato-Bold.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 200;
  src: url('../assets/fonts/Lato/Lato-Light.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: normal;
  font-weight: 400;
  src: url('../assets/fonts/Lato/Lato-Regular.ttf');
}

@font-face {
  font-family: var(--ux-font-lato);
  font-style: italic;
  font-weight: normal;
  src: url('../assets/fonts/Lato/Lato-Italic.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/WorkSans/WorkSans-Regular.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 600;
  src: url('../assets/fonts/WorkSans/WorkSans-SemiBold.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 700;
  src: url('../assets/fonts/WorkSans/WorkSans-Bold.ttf');
}

@font-face {
  font-family: var(--ux-font-worksans);
  font-style: normal;
  font-weight: 800;
  src: url('../assets/fonts/WorkSans/WorkSans-ExtraBold.ttf');
}
