:host {
  .header-background {
    background-color: var(--ion-color-primary);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 86px;
    z-index: -1;
    position: relative;
  }

  .dp {
    margin-top: -76px;

    &__available-card-skeleton,
    &__active-card,
    &__available-card {
      margin-right: 16px;
      margin-left: 16px;
      padding-bottom: 8px;
      background-color: var(--ion-color-white);
      border-radius: 8px;
      border: 0.5px solid var(--ion-color-neutral50);
      min-height: 28px;

      ion-skeleton-text {
        margin: 16px;
        height: 29px;
        padding-bottom: 8px;
      }

      ion-item[slot='header'] {
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        background-color: var(--ion-color-white);
        width: 100%;

        ion-label {
          background-color: var(--ion-color-white);
          font-family: var(--ux-font-worksans);
          font-size: var(--ux-fsize-18);
          font-weight: var(--ux-fweight-semibold);
          color: var(--ion-color-primary);
          line-height: 24px;
          margin-bottom: 8px;
        }
      }
    }

    &__available-card {
      margin-top: 24px;
    }

    &__active-card {
      background: var(--ion-color-infolight);

      ion-item::part(native) {
        background-color: var(--ion-color-infolight) !important;
      }

      ion-item[slot='header'] {
        ion-label {
          background-color: var(--ion-color-infolight) !important;
        }
      }
    }

    &__no_investments {
      display: grid;
      text-align: center;
      margin: 0 62px 16px;
      justify-items: center;
      gap: 8px;

      ion-text {
        font-weight: var(--ux-fweight-bold);
      }
    }

    &__link {
      margin: 24px 16px;
      display: flex;
      justify-content: center;
    }

    &__empty {
      text-align: center;
      margin-top: 24px;

      &__text {
        margin-top: 24px;
        margin-bottom: 16px;

        ion-text {
          color: var(--ion-color-neutral80);
        }
      }
    }

    &__weekly-profit-disclaimer {
      padding: 0 10px;
      margin-top: 8px;
    }

    &__gains {
      padding-left: 16px;
      margin-top: 21px;
      color: var(--ion-color-neutral80);
      font-weight: var(--ux-fweight-bold);
    }

    &__balance_items {
      margin-bottom: 16px;
    }

    &__weeklygains {
      padding-left: 16px;
      margin-top: 16px;
      color: var(--ion-color-neutral80);
      font-weight: var(--ux-fweight-bold);
    }
  }

  ion-item::part(native) {
    background-color: var(--ion-color-white) !important;
  }

  .no-border {
    --border-width: 0 !important;
  }
}
