:host {
  .ux_input_container {
    padding-top: 16px;

    &__label {
      display: flex;
      align-items: flex-end;
      gap: 6px;

      ion-button {
        margin: 0;
        padding: 0;

        --ion-padding: 0;
      }

      ion-label {
        color: var(--ui-label-color);
      }
    }

    ion-item::part(native) {
      padding-left: 13px;
    }

    ion-input {
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }

    &__item {
      margin-top: 8px;
      height: 100%;
      border: 1px solid;
      border-color: var(--ion-color-semidark);
      box-sizing: border-box;
      border-radius: 4px;

      --background: var(--ui-background, var(--ion-color-neutral10));
      --inner-border-width: 0;
      --highlight-background: none;

      color: var(--ion-color-neutral90);

      &.item-has-focus {
        border: 1.5px solid var(--ion-color-primary);
      }

      &__error_icon {
        width: 20px;
        height: 20px;
      }

      &__image {
        margin-right: 8px;
      }

      ion-button::part(native) {
        background-color: transparent !important;

        --background-activated: transparent;
      }

      &__eye_icon {
        background: transparent;

        ion-icon {
          font-size: 22px;
          color: var(--ion-color-primary);
        }
      }

      &__copy_icon {
        background: transparent;

        ion-icon {
          background: transparent;
          font-size: 22px;
          color: #00000061;
        }

        outline: none !important;
      }
    }
  }
}
