:host {
  .cipc {
    margin-top: 8px;
    padding: 24px 12px 16px;
    box-shadow: none;
    border: 0.5px solid var(--ion-color-neutral50);
    background: var(--ion-color-white);

    &__title {
      width: 100%;

      ion-text {
        color: var(--ion-color-primary);
      }
    }

    &__text {
      margin: 24px 7.5px 20px;

      ion-text {
        color: var(--ion-color-neutral80);
      }
    }

    &__button_primary {
      margin-bottom: 8px;
    }
  }

  .button-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }

  ion-button {
    margin: 0;
    height: 44px;

    --padding-top: 12.5px;
    --padding-bottom: 12.5px;
    --padding-start: 16px;
    --padding-end: 16px;
  }

  ion-text {
    display: block;
    text-align: center;
  }
}
