:host {
  .row {
    --padding-start: 0;
    --inner-padding-end: 0;
    --border-color: var(--ion-color-neutral10);

    display: flex;
    flex-direction: row;
    text-align: start;

    ion-label {
      margin: 0;
      flex: 1;

      ion-text {
        flex: 1;
      }

      img {
        margin-bottom: -4px;
        height: 16px;
        width: 16px;
      }
    }

    ion-label.end {
      text-align: end;
    }
  }
}
