:host {
  .aic {
    padding: 0 16px 16px;
    background: var(--ion-color-white);

    --ion-background-color: var(--ion-color-white);

    border: 1px solid var(--ion-color-neutral50);
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);
    border-radius: 8px;

    &__content {
      margin-top: -8px;

      &__helpText {
        color: var(--ion-color-neutral80);
        padding: 4.23px 24px 32.24px;
      }

      &__validator {
        display: flex;
        width: 100%;
        padding-top: 6px;
        align-items: flex-start;

        img,
        ion-icon {
          margin-right: 6px;
        }

        ion-text {
          color: var(--ion-color-dangerdark) !important;
        }
      }
    }

    &__info {
      margin-top: 0 !important;
      margin-bottom: 18px;
    }

    &__header {
      display: flex;
      align-items: center;
    }
  }
}
