:host {
  .inner-scroll {
    padding-top: 0px;
  }
  .fs__parallax_bg {
    margin-top: -65%;
    position: absolute;
    margin-left: 50%;
    width: 2000px;
    height: 2000px;
  }

  app-step {
    height: inherit;
  }
  .swiper-container {
    height: 100%;
  }
}
