:host {
  ion-list {
    width: 100%;

    .header-row {
      --padding-start: 0;
      --inner-padding-end: 0;

      display: flex;
      flex-direction: row;
      text-align: start;

      ion-label {
        margin: 0;
        flex: 1;

        ion-text {
          flex: 1;
        }
      }

      ion-label.end {
        text-align: end;
      }
    }
  }

  ion-button {
    width: 100%;
    height: 44px;
    margin-bottom: 2px;
  }
}
