:host {
  .twbl {
    &__img {
      position: relative;
      display: flex;
      width: var(--cl-image-width, 32px);
      height: var(--cl-image-height, 32px);

      img {
        width: 100%;
        height: 100%;
      }

      img:last-child {
        position: absolute;
        bottom: 3%;
        right: -5%;
        width: 16px;
        height: 16px;
      }
    }
  }
}
