:host {
  justify-content: unset;

  .main {
    position: relative;

    &__close_button {
      display: flex;
      justify-content: flex-end;
      height: 32px;

      ion-button {
        height: inherit;
        margin: 0;
        padding-right: 10px;
        padding-top: 10px;
      }

      &__icon {
        align-items: flex-end;
        color: var(--ion-color-primary);
      }
    }

    &__body {
      display: flex;

      &__content {
        display: flex;
        text-align: center;
        flex-direction: column;

        &__subtitle {
          text-align: left;
          margin: 16px 16px 5px;
          color: var(--ion-color-primary) !important;
        }

        &__description {
          text-align: left;
          padding: 0 16px;

          ion-text {
            color: var(--ion-color-primary) !important;
          }
        }

        &__img {
          img {
            width: 48px;
          }
        }

        &__disclaimer {
          text-align: left;
          padding: 15px 16px 0;
          color: var(--ion-color-neutral80) !important;
        }
      }
    }

    &__actions {
      width: 100%;
      padding: 24px 16px 10px;

      ion-button {
        width: inherit;
      }
    }
  }
}
