:host {
  .header {
    margin-top: 24px;
    position: relative;
    &__text {
      margin-top: 16px;
    }
  }

  .close_button {
    position: absolute;
    top: -16px;
    right: -16px;
    padding: 0px;
    margin: 0px;
    &__icon {
      width: 24px;
      height: 24px;
    }
  }
}
