:host {
  .eif {
    &__accordion {
      &__header {
        &__content {
          display: flex;
          align-items: center;
          padding: 16px;

          app-token-with-blockchain-logo {
            margin-right: 14px;
          }

          &__text {
            display: flex;
            flex-direction: column;

            ion-text {
              color: var(--ion-color-primary);
            }

            ion-text:first-child {
              margin-right: 6px;
            }

            ion-badge {
              color: var(--ion-color-successdark);

              --background: var(--ion-color-successlight);

              width: fit-content;
              border-radius: 4px;
              padding: 4px;
            }
          }
        }

        ion-icon.ion-accordion-toggle-icon {
          color: var(--ion-color-info);
          width: 24px;
        }
      }

      &__header::part(native),
      &__content::part(native) {
        padding: 0;
      }

      &__content {
        --border-width: 0;

        ion-item::part(native) {
          padding: 0 16px;
        }

        ion-item:not(first-child) {
          ion-label {
            margin: 8px 0;
          }
        }

        ion-item:first-child {
          ion-label {
            margin-top: 0;
          }
        }

        &__title {
          margin: 0 16px;

          ion-text {
            color: var(--ion-color-primary);
          }
        }

        &__product_description {
          padding: 16px;
        }

        &__information-item {
          display: flex;
          flex-direction: column;

          ion-badge {
            width: 64px;
          }

          &__button {
            ion-button {
              margin: 0;
            }

            ion-button::part(native) {
              padding-left: 0;
            }
          }

          &__info {
            margin-bottom: -12px;
            margin-top: -12px;
            margin-left: -12px;
            color: var(--ion-color-neutral90);

            .ul::part(native) {
              margin: 0;
            }
          }

          &__label {
            margin-bottom: 4px;
          }

          &__text {
            color: var(--ion-color-neutral90);
          }

          .inline-image {
            display: flex;
            align-items: center;

            img {
              width: 20px;
              height: 20px;
              margin-right: 4px;
            }
          }
        }

        .split-information-item {
          display: flex;
          flex-direction: column;
        }
      }
    }
  }
}
