ion-content {
  --background: var(--ion-color-neutral10);
}

ion-card {
  margin-bottom: 8px;
  box-shadow: none;
}

.ion-text-start {
  padding-left: 60px;
}

ion-toolbar {
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}

.wp {
  &__back {
    font-size: 12px;
  }

  padding: 8px 16px;

  &__card {
    margin-bottom: 20px;
  }

  &__step_counter {
    margin-right: 13px;
    color: var(--ion-color-white);
  }

  &__fee,
  &__withdraw,
  &__amount,
  &__receive {
    &__label {
      margin-bottom: 4px;
    }

    &__qty {
      display: flex;
      justify-content: space-between;

      ion-text {
        color: var(--ion-color-neutral90);
      }
    }
  }

  &__withdraw,
  &__amount,
  &__receive {
    padding-bottom: 11px;
  }

  &__withdraw,
  &__receive {
    padding-top: 11px;
  }

  &__fee,
  &__amount,
  &__withdraw {
    border-bottom: 1px solid #eee;
  }

  &__withdraw {
    &__label {
      display: flex;
      align-items: center;

      ion-icon {
        width: 16px;
        height: 16px;
        margin-left: 6px;
      }
    }
  }

  &__disclaimer {
    align-items: center;
    justify-content: center;
    display: flex;

    ion-text {
      color: var(--ion-color-neutral80);
    }
  }

  &__loading {
    text-align: center;

    ion-text {
      color: var(--ion-color-neutral80);
    }
  }
}

.skeleton {
  margin-top: 11px;

  ion-skeleton-text {
    height: 18px;
    border-radius: 8px;
  }
}
