:host {
  .rpc {
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    background-color: var(--ion-color-secondary);
    border-radius: 8px;
    border: 1px solid #b2c610;
    box-sizing: border-box;
    box-shadow: 0 2px 8px rgb(28 45 94 / 5%);

    &__left {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;

      ion-button {
        margin: 0;

        ion-icon {
          font-size: 12px;
        }
      }
    }

    &__right {
      display: flex;
      align-content: center;
      justify-content: center;

      img {
        max-width: unset;
      }
    }
  }
}
