:host {
  .bc {
    &__close-button {
      position: absolute;
      top: 16px;
      right: 40px;
      padding: 0;
      margin: 0;
      width: 24px;
      height: 24px;

      &__icon {
        width: 24px;
        height: 24px;
      }
    }

    &__img {
      display: flex;
      justify-content: center;
      margin: 65px 0 25px;
    }

    &__title {
      text-align: center;
      margin-bottom: 16px;
    }

    &__items {
      &__item {
        margin-bottom: 8px;

        ion-text {
          color: var(--ion-color-neutral90);
        }

        display: flex;
        align-items: center;

        img {
          margin: 0 16px 0 0;
        }
      }
    }

    &__checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 24px;
      margin-top: 36px;

      ion-checkbox {
        margin-right: 16px;
      }
    }

    &__ux_footer {
      margin-top: auto;
    }
  }
}
