:host {
  .si {
    margin-top: 8px;
    margin-bottom: 35px;
    background-color: var(--ion-color-white);

    --background: url('../../../../../../assets/img/wallets/start-investing-background.svg') no-repeat;

    box-shadow: none;
    background-position-x: calc(100% + 8px);
    height: 116px;
    border: 1px solid var(--ion-color-neutral50);

    &__title {
      width: 80%;
    }

    &__link {
      ion-button {
        margin-left: 0;
        text-decoration: underline;
      }
    }
  }
}
