:host {
  font-family: var(--ux-font-gilroy);

  .wad {
    &__invest-button {
      width: 85px;
      height: 44px;
      margin-left: auto;
      font-family: var(--ux-font-worksans);
      font-weight: var(--ux-fweight-semibold);
      font-size: var(--ux-fsize-16);

      --background-activated: transparent !important;
      --ion-color-shade: transparent !important;
    }

    &__card {
      margin: 0;
    }

    &__title_container {
      flex-direction: column;

      &__title {
        display: flex;
        align-items: center;

        ion-text:last-child {
          margin-left: 4px;
        }
      }

      &__badge {
        margin-top: 4px;
      }
    }

    &__title_and_image {
      margin: 19px 16px 0;
      display: flex;
      align-items: center;

      &__image_container {
        display: inline-flex;
        align-items: center;
        padding-top: 5px;
        padding-right: 8px;

        img {
          width: 40px;
          height: 40px;
        }
      }
    }

    &__available {
      margin-bottom: 37px;
      text-align: center;
      margin-top: 32px;

      .title {
        color: var(--ion-color-neutral80);
      }

      &__amounts {
        display: grid;
        justify-content: center;

        ion-text {
          color: var(--ion-color-neutral80);
          margin-bottom: 4px;
        }
      }
    }

    &__subheader_buttons {
      margin-top: -27px;
    }

    &__transaction {
      margin-top: 24px;
      font-size: 12px;
      font-weight: 600;

      &__wallet-transaction-card {
        margin-top: 8px;
      }
    }
  }
}
