:host {
  .ux_footer .button {
    margin-top: 8px;
    display: flex;
    flex-direction: column;

    .ux-loading-message {
      text-align: center;
    }
  }

  .step-counter {
    margin-right: 13px;
  }

  .ux_toolbar {
    border-radius: 0 0 8px 8px;
  }

  .warning-dark {
    color: var(--ion-color-warningdark);
  }

  .success-dark {
    color: var(--ion-color-successdark);
  }
}
