:host {
  .hp {
    &__subheader-bg {
      height: 50px;
      width: 100%;
      background-color: var(--ion-color-primary);

      &.editing {
        visibility: hidden;

        // background-color: var(--ion-color-neutral10);
      }
    }

    &__avatar {
      width: 100%;
      height: 100px;
      display: flex;
      justify-content: center;
      margin-top: -50px;

      &.editing {
        transition: margin 120ms;
        margin-top: -26px;

        .change-image {
          position: absolute;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
          background-color: #00000061;
        }
      }

      ion-avatar {
        position: relative;
        height: 100px;
        width: 100px;
        border: 4px solid var(--ion-color-neutral10);
        overflow: hidden;
      }
    }

    &__info {
      &__not_editing {
        display: flex;
        flex-direction: column;
        align-items: center;

        &__name {
          margin-top: 8px;
        }

        &__address {
          margin-top: 4px;
        }
      }

      &__editing {
        display: flex;
        flex-direction: column;
        align-items: center;

        ion-button {
          margin-top: 0;
        }
      }
    }
  }
}
